<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./default.css">
	<title>All the World is a Game</title>
</head>

<body>
<header>
<div class="container">
<nav class="main-nav">
<ul>
<li><a href="/">Home</a></li>
</ul>
</nav>
<h1><a href="/">All the World is a Game</a></h1>
</div>
</header> 

<ul>
   {% for post in site.posts %}
     <li>
       <a href="{{ post.baseurl }}">{{ post.title }}</a>  <d>{{post.date}}</d>
       {{ post.excerpt }}
       {% if post.content contains site.excerpt_separator %}
         <a href="{{ site.baseurl }}{{ post.baseurl }}">Read more</a>
         
       {% endif %}

     </li>
   {% endfor %}
 </ul>

</body>

</html>
