
/*revealing the containers
* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
*/

body {
    background-color: black;
}

.site-buttons {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
    position: absolute;
}

.site-title2 {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin: auto;
  text-align: center;
  font-family: "American Typewriter", Times, Serif;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-header2{
  background-color:antiquewhite;
  border-top: thick solid LightSlateGray;
  border-bottom: thick solid LightSlateGray;
  min-height: 56px;

  /* Positioning context for the mobile navigation icon*/
  text-align: center;
  font-family: 'Alegreya', serif;
  color: #035bad;
  /*font-style: italic;*/
}

.site-header2 img {
    padding-right:8px;
    padding-bottom:5px
}

/*.container {
    overflow: scroll;
    background-color: black;
causes a white rectangular block to appear down the right side of the website.
}*/

.centre-bar {
    text-align: center;
    background-color:antiquewhite;
    font-family: 'Alegreya', serif;
    position: relative;
    /*float: right;*/
    /* display: inline-block; */
    /* vertical-align: top; */
    /* clear: none; */
    margin: auto;
    /*margin-right: 1em;*/
    padding: 5px;
    width: 45%;
    border: thick solid LightSlateGray;
    color: #035bad;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.centre-bar img {
    display: block; /* make it a block in order to centre it with margin: auto */
    margin: auto;
    height: auto;
    width: 50%;
    position: relative;
}

.side-bar-right {
    background-color:antiquewhite;
    font-family: 'Alegreya', serif;
    position: relative;
    float: right;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* clear: none; */
    margin: auto;
    margin-right: 1em;
    padding: 5px;
    width: 20%;
    border: thick solid LightSlateGray;
    color: #035bad; 
    text-align: center;
}
.side-bar-left {
    border: thick solid LightSlateGray;
    background-color:antiquewhite;
    font-family: 'Alegreya', serif;
    position: relative;
    float: left;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* clear: none; */
    margin: auto;
    margin-left: 1em;
    padding: 5px;
    width: 20%;
    color: #035bad;
}

.wrapper2 {
 /* max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));*/
 /* margin-right: auto;
  margin-left: auto;*/
  border: thick solid LightSlateGray;
  background-color:antiquewhite;
  /*border: thick solid antiquewhite;*/
  margin: auto;
  /*padding-right: $spacing-unit;
  padding-left: $spacing-unit;*/
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  @extend %clearfix;
  font-family: 'Alegreya', serif;
  width: 45%;

  /*@include media-query($on-laptop) {
    /*max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));*/

    /*padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    padding-right: 2em;
    padding-left: 2em;
    margin: auto;   */
  }

.post-images-large {
    width: 75%;
}

.post-images-medium {
    width: 50%;
}

.post-images-small {
    width: 25%;
}

.chessboard {
    font-family: 'Alegreya', serif;
    color: #035bad;
    background-color:antiquewhite;
    padding: 10px;
    margin: auto;
    position: relative;
    text-align: center;
}

.chessboard img {
       padding: 10px;
}

.latest {
    font-family: 'Alegreya', serif;
    background-color:antiquewhite;
    padding: 5px;
    margin: auto;
    position: relative;
    width: 100%;
}

.latest table {
    margin: auto;
    border-collapse:collapse;
}

.latest th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    overflow-x:auto;
}

.latest tr:first-child {
    color:black;
}

.latest tr:nth-child(3) {
    background-color: #095987;
    color:white;
}

.latest tr:nth-child(4) {
    background-color: #c40909;
    color:white;
}
.latest tr:nth-child(5) {
    background-color: #c40909;
    color:white;
}

.latest tr:nth-child(6) {
    background-color: #095987;
    color:white;
}

.article {
    text-align: left;
    background-color:antiquewhite;
    font-family: 'Alegreya', serif;
    position: relative;
    /*float: right;*/
    /* display: inline-block; */
    /* vertical-align: top; */
    /* clear: none; */
    margin: auto;
    /*margin-right: 1em;*/
    padding: 5px;
    width: 65%;
    border: thick solid LightSlateGray;
    color: #035bad;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

/*
#clear {
    clear: both;
} */