<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <main class="page-content" aria-label="Content">
      <div class="container">
      <div class="side-bar-left">  
          <h2 >Previous Posts</h2>
          <ul>
            {% for post in site.posts %}
             <li>
                <a href="{{ post.url }}">{{ post.title }} {{post.date | slice: 0, 10}}</a>
             </li>
            {% endfor %}
          </ul>
     </div>
          <div class="side-bar-right">  
         <h2>Articles</h2>
     </div>
     <div class="centre-bar">  
         <h2><a href="{{site.url | append: '/chessboard.html'}}">The Current State of the Chessboard</a></h2>
          {% img {{site.url}}/assets/main-map_cropped.jpg 536px 647px "Main map" %}
         <p><a href="{{site.url | append: '/chessboard.html'}}">Click here to enlarge</a></p>
         <!-- <img src="../assets/main-map.jpg" alt="Main map" style="width:364px;height:559px;"> -->
     </div>
     
     <div class="wrapper2">
       {{ content }}
        
    </div>

    
        
     <!-- <div id="clear"></div> -->
      </div>
        
    </main>

    
  
    {% include footer.html %}

  </body>

</html>
