<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
       <h2><span STYLE="font-family:'Times New Roman', Times, Serif"> The Current State of the Chessboard</span></h2>
       <!--<p style="text-align:center">-->
         <img src="../assets/main-map-mini.png" alt="Main map" style="width:364px;height:559px;">
       <!--</p>-->
    </div>
      
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  
    {% include footer.html %}

  </body>

</html>
